<footer class="gradient-half-primary-body-v1 py-4">
    <div class="container">
        <div class="row justify-content-md-between font-size-1 py-3" style="background: rgb(32, 65, 128) no-repeat 0 30%;">
            <div class="col-lg-3 mb-4 mb-lg-0">
                <div class="d-flex h-100 flex-column">
                    <div class="d-flex align-items-center mb-4">
                        <span class="h4 text-white mb-0 ml-3">Bono Team</span>
                    </div>
                    <p class="text-white">we are one</p>
                </div>
            </div>
        </div>
    </div>
</footer>